@media only screen and (min-width: 601px) {
    .card-content {
        height: 150px;
    }
    .card-action {
        height: 72px;
    }
}
@media only screen and (min-width: 721px){
    .card-content {
        height: 130px;
    }
    .card-action {
        height: 72px;
    }
    .container {
        width: 80%
    }
}
.cards {
    margin-top: 50px;
}
.card {
    /* background: linear-gradient(to bottom right, white, grey); */
    opacity: 0.7;
}
.card-content .card-title{
    color: black;
    font-weight: 500;
}
.card-content p {
    color: black;
    font-weight: 400;
}