<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include meta-data %>
    <title>Events</title>
</head>

<body>
    <% include header %>
    <div class="container">
        <h1 class="center-align">Events</h1>
        <%=success %>
        <div class="row">
            <%data.forEach((ele) => {%>
            <div class="col s5">
                <div class="card brown lighten-1 hoverable">
                    <div class="card-content white-text">
                        <span class="card-title"><%=ele.eventName%></span>
                        <p><%=ele.intro%></p>
                    </div>
                    <div class="card-action">
                        <a href="<%=ele.event%>">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s1"></div>
            <%});%>
        </div>
    </div>
    <% include footer %>
</body>

</html>