<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 right-align">
                Copyright © portal 2020.
            </div>
            <div class="col s12 m6 right-align">
                 Made by - Naveen Rohilla.
            </div>
        </div>
    </div>
</footer>


<script src="/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems);
    });
</script>