</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6 m3">
                Copyright © portal 2019.
            </div>
            <div class="col s6 m4">
                    Made by - Naveen Rohilla.
            </div>
        </div>
    </div>
</footer>


<script src="/js/materialize.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems);
    });
</script>