<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Logo</a>
            <a href="" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <% if(isAuthenticated) {%>
                <li><a href="/events">Events</a></li>
                <% if(privileges) {%>
                <li><a href="/events/generate">Generate Events</a></li>
                <li><a href="/events/manage">Manage Events</a></li>
                <li><a href="/events/requests">Manage Requests</a></li>
                <% }%>
                <li><a href="/auth/signOut">Sign Out</a></li>
                <% }%>

            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <% if(isAuthenticated) {%> <li><a href="/auth/signOut">Sign Out</a></li> <% }%>
    </ul>
</header>
<main>