<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/events" class="brand-logo">&nbsp;&nbsp;TechMarathon</a>
            <a href="" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/events">Events</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="/events/results">Results</a></li>
                <% if(isAuthenticated) { if(privileges) {%>
                <li><a href="/events/generate">Generate Events</a></li>
                <li><a href="/events/upload">Image Upload</a></li>
                <li><a href="/events/manage">Manage Events</a></li>
                <li><a href="/events/requests">Manage Requests</a></li>
                <li><a href="/events/responses">Manage Responses</a></li>
                <li><a href="/findUsers">Find Users</a></li>
                <% }%>
                <li><a href="/auth/signOut">Sign Out</a></li>
                <% }%>

            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        
            <li><a href="/events">Events</a></li>
            <li><a href="/friends">Friends</a></li>
            <li><a href="/events/results">Results</a></li>
            <% if(isAuthenticated) { if(privileges) {%>
            <li><a href="/events/generate">Generate Events</a></li>
            <li><a href="/events/upload">Image Upload</a></li>
            <li><a href="/events/manage">Manage Events</a></li>
            <li><a href="/events/requests">Manage Requests</a></li>
            <li><a href="/events/responses">Manage Responses</a></li>
            <li><a href="/findUsers">Find Users</a></li>
            <% }%>
            <li><a href="/auth/signOut">Sign Out</a></li>
            <% }%>
    </ul>
</header>
<main>