<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Manage Requests</title>
	<link rel="stylesheet" href="/css/manageRequest.css">
	<% include meta-data %>
</head>

<body>
	<% include header %>
	<main>
		<div class="container">
			<br>
			<div class="row">
				<div class="input-field col s11">
					<select id="events">
						<option value="null" disabled selected>Choose Event</option>
						<% allEvents.forEach((event) => { %>
						<option value="<%=event.eventCode%>"><%=event.eventName%></option>
						<% }); %>
					</select>
					<label>Event Select</label>
				</div>
				<div class="col s12 options">
					<div class="row">
						<div class="input-field col s5 filter">
							<select id="sort">
								<option value="null" disabled selected>None</option>
								<option value="name">Name</option>
								<option value="college">College</option>
								<option value="isAllowed">Is Allowed</option>
								<option value="hasStarted">Has Started</option>
								<option value="hasCompleted">Has Completed</option>
							</select>
							<label>Sort by</label>
						</div>
						<div class="col s3">
							<i class="material-icons medium reverse">swap_vert</i>
						</div>
						<div class="col s2">
							<i class="material-icons medium reload">autorenew</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container center-align preloader">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="result">
			<div class="row result-header">
				<div class="col s3" id="total-requests"></div>
				<div class="col s3" id="requests-allowed"></div>
				<div class="col s3" id="has-started"></div>
				<div class="col s3" id="has-completed"></div>
			</div>
			<div class="row result-content">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>College</th>
							<th>isAllowed</th>
							<th>hasStarted</th>
							<th>hasCompleted</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>


		</div>
	</main>
	<% include footer %>
	<script src="/js/eventsRequestManageAjax.js"></script>
</body>

</html>