<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Responses</title>
    <link rel="stylesheet" href="/css/manageResponses.css">
    <% include meta-data %>
</head>
<body>
    <% include header %>
    
        <div class="container">
          <div class="row">
            <div class="input-field col s9">
                <select id="events">
                  <option value="" disabled selected>Choose Event</option>
                  <% allEvents.forEach((event) => { %>
                  <option value="<%=event.eventCode%>"><%=event.eventName%></option>
                  <% }); %>
                </select>
                <label>Event Select</label>
              </div>
              <div class="col s12 options">
                  <div class="row">
                      <div class="input-field col s5">
                            <select id="sort">
                                    <option value="null" disabled selected>None</option>
                                    <option value="name">Name</option>
                                    <option value="college">College</option>
                                    <option value="score">Score</option>
                                  </select>
                                  <label>Sort by</label>
                      </div>
                      <div class="col s3">
                            <i class="material-icons medium reverse">swap_vert</i>
                          </div>
                      <div class="col s2">
                            <i class="material-icons medium reload">autorenew</i>
                      </div>
                  </div>
              </div>
        </div>
        </div>
        <div class="container center-align preloader">
            <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-red">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-yellow">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
              
                    <div class="spinner-layer spinner-green">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
    </div>
    <div class="results">
        <div class="row result-header">
          <div class="col s3" id="total-responses"></div>
        </div>
          <div class="row result-content">
            <table>
                <thead><tr><th>Name</th><th>College</th><th>Email</th><th>Number</th><th>Score</th><th>View</th><th>Prelims Results</th><th>Final Result</th></tr></thead>
                <tbody>
                    </tbody>
                    </table>
      </div>
                
  
          </div>
    
    <% include footer %>
    <script src="/js/eventsResponseManageAjax.js"></script>
</body>
</html>