<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <% include meta-data %>
</head>
<body>
    <% include header %>
    <div class="container">
        <div class="row">
            <form action="/resetPassword" method="post" class="col s12">
                <div class="row">
                        <div class="input-field col s10">
                            <input type="email" name="email" id="email" class="validate" required>
                            <label for="email">Email id</label>
                        </div>
                        <div class="input-field col s10">
                                <input type="password" name="password" id="password" class="validate" required>
                                <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 m4 l4">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Update Password
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <% include footer %>
    <script>
            document.querySelectorAll('a[href="/resetPassword"]').forEach((ele) => {
                ele.parentNode.classList.toggle('active');
            });
            </script>
</body>
</html>